//-------------------------------new/edit reservation page
.credit-swip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(tab-port) {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group .form-control {
        width: 50%;
    }
}

.other-charges {
    height: 29.5rem;
    overflow-y: scroll;
    padding-right: 1rem;
    //------------------------------------Scroll bar Design
    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.6rem rgba($color-gray-lighter, 0.7);
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($color-gray-light, 30%);
        outline: 1px solid $color-gray-light;
        border-radius: 0.5rem;
    }
}

.prev-icon {
    transform: rotate(180deg);
}

.quick-details {
    margin-bottom: 2rem;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(12rem, max-content));
    gap: 1.5rem;
    &__item {
        font-size: 1.4rem;
        margin-bottom: 0;
        background-color: $white;
        padding: 1rem 1.5rem 0.5rem;
        border-radius: 0.5rem;
        box-shadow: $shadow;
        position: relative;
        text-align: center;

        strong {
            display: block;
            font-size: 2.5rem;
        }
        .all {
            color: $color-primary;
        }
    }
}

.btn-section {
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    float: right;
    .btn {
        margin-bottom: 1rem;
    }
}

//---------------------------Action Buttons in Edit Pages
.action-btns {
    width: 100%;
    margin-top: -4rem;
    margin-right: 1.5rem;
    &__list {
        display: flex;
        list-style: none;
        font-size: 1.2rem;
        float: right;
    }
    li {
        position: relative;
    }
    &__item {
        position: relative;
        color: $gray;
        display: flex;
        align-items: center;
        &::before {
            position: absolute;
            align-items: flex-start;
            content: "|";
            font-size: 1.8rem;
        }
        &:first-child::before {
            content: "";
        }
    }

    &-link {
        padding: 0 2.3rem;
        display: inline-block;
        color: $color-gray;
        svg {
            width: 2.5rem;
            height: 2.5rem;
            margin-top: -0.3rem;
        }
img {
    width: .7rem;
}
        &.start {
            padding: 0.7rem 1.5rem 0.5rem;
            margin-top: -0.5rem;
            color: $white;
        }
    }
}

//-------sub Actions
.sub-actions {
    display: block;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background-color: rgba($color-gray-light, 0.5);
    margin-left: 3rem;
    position: relative;
    margin-top: 4px;
    &::after,
    &::before {
        @include after-before;
        top: 7px;
        border-radius: 50%;
        background-color: rgba($color-gray-light, 0.5);
    }
    &::before {
        top: 14px;
    }
}

//--------------------------reservation details
.res-details {
    &-list {
        list-style: none;
        margin-top: 1rem;
    }

    &-item {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        gap: 2rem;
        font-size: 1.3rem;
        margin-bottom: 3rem;
        letter-spacing: 2px;
        strong {
            text-align: left;
            color: rgba($color-gray-light, 0.5);
        }

        span {
            color: $color-gray-dark;

            &.link-danger {
                color: $error;
            }
            &.link-warning {
                color: $warning;
            }
            &.link-success {
                color: $success;
            }
            svg {
                width: 2.1rem;
                height: 2.1rem;
                margin-top: -0.3rem;

                &.success {
                    fill: $success;
                }
            }
        }
    }
}

//------------------------------PICK
.pick {
    margin-top: 1rem;
    display: flex;
    &-icons {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        margin-right: 1rem;
        &-up,
        &-drop {
            position: relative;
            border: 1px solid $color-gray-light;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;

            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                width: 0.9rem;
                height: 0.9rem;
                background-color: $color-secondary;
                border-radius: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
            }
        }

        &-line {
            height: 12.5rem;
            width: 1rem;
            border-left: 1px dotted rgba($color-gray-light, 0.5);
            margin-left: 0.6rem;
        }

        &-drop {
            &::after {
                background-color: $error;
            }
        }
    }

    &-data {
        &-up,
        &-drop {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 6rem;
            letter-spacing: 1px;
            svg {
                width: 2rem;
                height: 2rem;
                margin-top: -0.3rem;
                margin-right: 0.5rem;
            }
            h6 {
                border: none;
                margin-bottom: 1rem;
                text-transform: none;
            }

            strong {
                margin-bottom: 1rem;
                font-size: 1.3rem;
            }

            span {
                font-size: 1.3rem;
                color: $color-gray-light;
            }
        }

        &-drop {
            margin-bottom: 0;
        }
    }
}

//-----------------------MEMO
.memo {
    margin-top: 2rem;

    .end-btns {
        border: none;
        margin: 0 0 2rem 0;
    }
}

//-----------------------charges-summary
.charges-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    gap: 2rem;
    margin-bottom: 2rem;

    &-total {
        border-right: solid 1px rgba($color-gray-light, 0.5);
    }

    &-print {
        color: $color-gray;
    }
}

//--------------------ProgressBar

.vehicleImg-img {
    width: 100%;
}

.car-bars {
    //-----Fuel
    margin: 6rem 2rem 0 -4rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    &-fuel {
        display: grid;
        grid-template-columns: 0.3fr 4fr;
        align-items: center;
        &__icon {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 1px solid $color-gray-light;
            background-color: $white;
            position: relative;
            z-index: 2;
            transform: translateX(2rem);
            @include center-el;
            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        &__bar {
            position: relative;
            &-tooltip {
                position: absolute;
                top: -4rem;
                left: 100%;
                transform: translateX(-60%);
                width: 5rem;
                height: 3rem;
                border-radius: 0.3rem;
                background-color: $color-gray-dark;
                color: $white;
                @include center-el;

                &::before {
                    content: " ";
                    position: absolute;
                    top: 3rem;
                    left: 2.5rem;
                    border-left: 0.5rem solid transparent;
                    border-right: 0.5rem solid transparent;
                    border-top: 0.5rem solid $color-gray-dark;
                    font-size: 0;
                    line-height: 0;
                    margin-left: -0.5rem;
                    width: 0;
                }
            }

            &-progress,
            .progress {
                position: relative;
                z-index: 1;
                background-color: $color-gray-lighter;
                border-radius: 2rem;
                height: 1.5rem;
                .progress {
                    &-success {
                        background-color: $color-secondary;
                    }

                    &-warning {
                        background-color: $warning;
                    }
                    &-alert {
                        background-color: $error;
                    }
                }
            }
        }
    }

    //-----Odometter
    &-odo {
        margin: 3rem 0 0 3rem;

        .fancy_title {
            @include center-el;
            span {
                padding: 0.3rem 0.8rem;
                border: 1px solid rgba($color-gray-light, 0.5);
                border-radius: 0.3rem;
                font-size: 1.3rem;
                display: inline-block;
                margin-left: 0.5rem;
            }
        }
    }
}

//----------------Uploader Image List
.imgs-list {
    &__item {
        display: grid;
        grid-template-columns: 7rem 3fr 0.5fr 0.5fr;
        grid-template-rows: 5rem;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        border-bottom: 1px solid rgba($color-gray-light, 0.3);
        &:last-child {
            border-bottom: none;
        }
   
    }

    &__img {
        margin-bottom: -3rem;
        max-width: 7rem;
        display: inline-block;
        margin: auto;
    }
    p {
        font-size: 1.3rem;
        padding:0;
        margin: 0;
    }
  
    &__view,
    &__delete {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }
}


/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    position: relative;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100; 
}


/*== pointer tip ==*/
.tool::before {
    border-style: solid;
    border-width: 0.8em 0.6em 0 0.6em;
    border-color: #3E474F transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -1.3em;
    transition: all .25s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
    transform:  scale(.6) translateY(-50%);
} 

.tool:hover::before,
.tool:focus::before {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
    background: #3E474F;
    border-radius: .25em;
    bottom: 130%;
    color: #EDEFF0;
    content: attr(data-tip);
    margin-left: -3.6em;
    padding: 0.6em;
    transition: all .35s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform:  scale(.6) translateY(0%);  
    width: 6.5em;
    font-size: 1.2rem;
    text-align: center;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
  .tool::after { 
        font-size: .75em;
        margin-left: -5em;
        width: 5em; 
  }
}

